beautifulsoup4==4.11.1
GitPython==3.1.43
google_cloud_aiplatform==1.49.0
langchain==0.1.19
langchain_community==0.0.38
langchain_google_vertexai==1.0.3
magika==0.5.1
nbconvert==7.16.4
nbformat==5.10.4
nltk==3.8.1
PyPDF2==3.0.1
Requests==2.31.0
streamlit==1.34.0
tiktoken==0.6.0
tqdm==4.66.2
vertexai==1.49.0
wget==3.2
youtube_transcript_api==0.6.2
